<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/70e68ad4-b833-471e-b511-4c021ca9b2ff/resourcegroups/Ta_BuResG1/providers/Microsoft.Web/sites/BillettSystemNytt</ResourceId>
    <ResourceGroup>Ta_BuResG1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://billettsystemnytt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>billettsystemnytt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BillettSystemNytt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BillettSystemNytt</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BillettSys" Order="1" Enabled="False">
          <Destination Path="Data Source=tabuserver.database.windows.net;Initial Catalog=BillettSystem;User ID=ta_bu_17;Password=Instadavtomate522;Application Name=EntityFramework" Name="Data Source=tabuserver.database.windows.net;Initial Catalog=BillettSystem;User ID=ta_bu_17;Password=Instadavtomate522;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BillettSystem.Models.DataModels.BillettSys, BillettSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BillettSys-Web.config Connection String">
      <ParameterValue>Data Source=tabuserver.database.windows.net;Initial Catalog=BillettSystem;User ID=ta_bu_17;Password=Instadavtomate522;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>