body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.error-class {
    color: red;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.font-bold{
    font-weight:bold;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.font-tid {
    font-size: 20px;
    color: #393e44;
}

.form-horizontal {
    border-radius: 10px;
    padding: 2%;
    margin: 10px;
    background-color: white;
}
#searchresult {
    font-size: 16px;
}
.container-addon {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #30666d;
    padding: 1%;
    /*min-height: 90%;*/
}

 ul.navbar-nav a:hover {
    background-color: #302a2a;
    color: white;
    display:block;
    
}

.modal-dialog-center {
    margin-top: 10%;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.question {
    background-color: lightblue;
}

.textarea-help {
    width:80%; 
    resize: none;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.alert {
    margin: 10px !important;
}


#kundeQuestionsTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    display: -moz-deck;
}

#kundeQuestionsTable th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    display:-moz-deck;
}